body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #7ccbfc;
}

.logo {
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 130%;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
    margin-right: 10px;
}

.title-box{
    background-color: #7ccbfc;
    background-image: url("/images/consulting.png");
    background-position: center;
    text-align: center;
    padding: 10px;
}

.title-box img{
    height: 300px;
    width: auto;
    background: rgba(255, 255, 255, 0.6);
    width: 400px;
    height: auto;
    margin: 50px;
    overflow: visible;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(12,12,12);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(12, 12, 144);
}

nav ul li a:hover {
    background-color:wheat;
}

.exit-button {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-button img {
    width: 15px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop{
        display: none;
    }

    nav ul {
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: white;
        background-color: #7ccbfc;
        padding-top: 12px;
    }

    nav ul li a:hover{
        background-color: black;
    }
}